@font-face {
  font-family: fontFerrari;
  src: url('../fonts/FerroRosso.ttf');
}

:root{
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

body, html, li ,ul, a{
    list-style: none;
    text-decoration: none;
    margin: 0;
    color: white;
    position: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
}
body{
    position: absolute;
    height: 100vh;
    width: 98.81vw;
    scroll-behavior: smooth;
    background: #141414;
    overflow-x: hidden;
}
.icon{
  margin-right: 5px;
}
header{
    display: flex;
    background: crimson;
    width: 100vw;
    height: 500px;
    z-index: 1;
}
nav{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    justify-content: space-between;
    z-index: 10;
    transition: 0.3s;
}
nav h3{
    margin-left: 50px;
    font-size: 30px;
}
header h2{
  font-family: fontFerrari;
  font-style: italic;
  font-size: 280px;
  position: absolute;
  text-shadow: 0px -4px 1px#000;
}
.menuHamburguer{
    width: 40px;
    height: 25px;
    margin: 30px;
    display: none;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100px;
    transition-delay: 0.2s;
    transition: 0.5s;
}
li:nth-child(4){
    width: 250px;
}
li:nth-child(4):hover{
    background-color: rgba(0, 0, 0, 0);
}
li:hover{
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 50px;
}
header img{
    width: 650px;
    height: 250px;
    margin: auto;
    margin-top: 350px;
    z-index: 2;
}






/* From uiverse.io by @satyamchaudharydev */
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-radius: 1px;
    --after-border-radius: 30px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }


  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
  /*======= Home =======*/
.home{
  width: 100vw;
  height: 100vh;
  margin-top: 150px;
}

.home:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}
  .bg-slider{
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  .bg-slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .bg-slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
  }
  
  .swiper-slide .text-content{
    position: absolute;
    top: 25%;
    color: var(--white-color);
    margin: 0 200px;
    transition: 0.3s ease;
  }
  
  .swiper-slide .text-content .title{
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin-bottom: 20px;
    font-family: fontFerrari;
    transform: translateY(-50px);
    opacity: 0;
    color: #fff;
  }
  
  .swiper-slide-active .text-content .title{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
  }
  
  .swiper-slide .text-content .title span{
    font-size: 0.4em;
    font-weight: 300;
  }
  
  .swiper-slide .text-content p{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: var(--text-shadow);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    transform: translateX(-80px);
    opacity: 0;
    font-size: 0.9em;
    color: #fff;
  }
  
  .swiper-slide-active .text-content p{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
  }
  
  .swiper-slide .text-content .read-btn{
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
  }
  
  .swiper-slide-active .text-content .read-btn{
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
  }
  
  .swiper-slide .text-content .read-btn i{
    font-size: 1.6em;
    transition: 0.3s ease;
  }
  
  .swiper-slide .text-content .read-btn:hover i{
    transform: translateX(5px);
  }
  
  .dark-layer:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .bg-slider-thumbs{
    z-index: 777;
    position: absolute;
    bottom: -40em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
  }
  
  .thumbs-container{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
  }
  
  .thumbs-container img{
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .swiper-slide-thumb-active{
    border: 1px solid var(--white-color);
  }
  
  
  /*======= About section =======*/
  .about h2{
    font-size: 3em;
    font-weight: 600;
  }
  
  .about p{
    margin: 25px 0;
  }

  
  .container{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2vw;
  }

  .carCard{
    top: 20px;
    position: relative;
    display: grid;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 30px;
  }
  
  
  /*Styles for popup view*/
  
  .popup-view{
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  
  .popup-view.active{
    opacity: 1;
    visibility: visible;
  }
  
  .popup-card{
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
  }
  
  .popup-card .product-img{
    z-index: 2;
    background: #1D212B;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .popup-card .product-img img{
    z-index: 2;
    position: relative;
    width: 450px;
    left: -50px;
  }
  
  .popup-card .info{
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    color: crimson;
  }
  
  .popup-card .close-btn{
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
  }
  
  .popup-card .info h2{
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
  }
  
  .popup-card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .popup-card .info p{
    font-size: 15px;
    margin: 10px;
  }
  
  .popup-card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
  }
  
  .popup-card .info .add-cart-btn{
    color: #fff;
    background: black;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
  }
  
  .popup-card .info .add-wish{
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
  }


  /* From uiverse.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
  position: relative;
 }
 
 .cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
 }
 
 .cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active svg {
  transform: scale(0.9);
 }
 
 .hover-underline-animation {
  position: relative;
  color: #000;
  padding-bottom: 20px;
 }
 
 .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
 }
 .cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
 }




/*Responsive*/
@media (max-width: 830px) {
    .list{
        right: -200vw;
        width: 100%;
        height: 100%;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 0.4s;
        background: rgba(0, 0, 0, 0.9);
        z-index: 5;
    }
    .list li:nth-child(4){
        display: none;
    }
    .list.act{
        right: 0;
    }
    .menuHamburguer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
        transition: 0.3s;
        z-index: 999;
    }
    .menuHamburguer.act span{
        background: #fff;
    }
    .menuHamburguer.act .line1{
      transform: rotate(-45deg) translate(-7px, 6px);
    }
    .menuHamburguer.act .line2{
      opacity: 0;
    }
    .menuHamburguer.act .line3{
      transform: rotate(45deg) translate(-9px, -9px); 
    }
    .menuHamburguer span{
      transition: 0.3s;
        height: 3px;
        border-radius: 7px;
        background: #000;
        width: 100%;
    }
    nav{
      height: 80px;
    }
    header img{
      width: 380px;
      height: 150px;
      margin: auto;
      margin-top: 390px;
      z-index: 2;
  }
}