body {
  position: absolute;
  height: 100vh;
  width: 98.81vw;
  scroll-behavior: smooth;
  background: #141414;
  overflow-x: hidden;
}

.icon {
  margin-right: 5px;
}

header {
  display: flex;
  background-image: url('../img/bk.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  transition: 0.1s;
  z-index: 1;
}

nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  opacity: 0;
  justify-content: space-between;
  z-index: 10;
  transition: 2s;
}

.car {
  width: 70px;
  margin-top: 10px;
  height: 60px;
  background: #fff;
  border-radius: 20px;
  padding: 5px;
  transition: 0.4s;
}

.car:hover {
  background: crimson;
  cursor: pointer;
}

.user {
  width: 50px;
  height: 50px;
}

.logo {
  position: absolute;
  width: 430px;
  height: 230px;
  left: calc(50% - 230px);
  top: 20%;
}

.menuHamburguer {
  width: 40px;
  height: 25px;
  margin: 30px;
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100px;
  transition-delay: 0.2s;
  transition: 0.5s;
}

li:nth-child(4) {
  width: 250px;
}

li:nth-child(4):hover {
  background-color: rgba(0, 0, 0, 0);
}

li:nth-child(5) {
  background-color: none;
  border-radius: 20px;
  font-size: 15px;
  width: 60px;
  height: auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

li:nth-child(5):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 50px;
}


.registerSection {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

}

.twoCarImage {
  background-image: url('../img/cr5.jpg');
  background-size: cover;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: -100px;
  margin-left: 2vw;
  opacity: 0;
  transition: 1s;
  display: flex;
  justify-content: center;
  width: 450px;
  height: 450px;
}

.cardsTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  grid-template-columns: 1fr 1fr;
}

.cardSecTwo {
  width: 350px;
  height: 230px;
  margin: 10px;
  opacity: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: -100px;
  transition: 0.8s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1:hover {
  background: rgba(64, 0, 255, 0.8);
  cursor: pointer;
}

.card2:hover {
  background: rgba(242, 255, 0, 0.8);
  cursor: pointer;
}

.card3:hover {
  background: rgba(26, 255, 0, 0.8);
  cursor: pointer;
}

.card4:hover {
  background: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}

/* From uiverse.io by @satyamchaudharydev */
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 1px;
  --after-border-radius: 30px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}

/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
}

/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
  opacity: 1;
  visibility: visible;
}


/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

.sliderCar {
  width: 100vw;
  height: 100vh;
}

.sliderCar:before {
  z-index: 555;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

.bg-slider {
  z-index: 9;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  width: 70vw;
  position: absolute;
  top: 25%;
  color: var(--white-color);
  transition: 0.3s ease;
  margin: 0 200px;
}

.swiper-slide .text-content .title {
  font-size: clamp(0.75em, 2em + 4vw, 4em);
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  font-family: fontFerrari;
  transform: translateY(-50px);
  opacity: 0;
  color: #fff;
}

.swiper-slide-active .text-content .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
  font-size: 0.4em;
  font-weight: 300;
}

.swiper-slide .text-content p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
  font-size: 0.9em;
  color: #fff;
}

.swiper-slide-active .text-content p {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(5px);
}

.dark-layer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs {
  z-index: 9;
  position: absolute;
  margin-top: -10vh;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}


/*======= About section =======*/
.about h2 {
  font-size: 3em;
  font-weight: 600;
}

.about p {
  margin: 25px 0;
}


.container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carCard {
  position: relative;
  display: grid;
  width: 300px;
  margin: 50px;
  height: 400px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}


/* From uiverse.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
  position: relative;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #000;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media(max-width: 1232px) {
  .registerSection {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .twoCarImage {
    width: 90vw;
  }
}

/*Responsive*/
@media (max-width: 830px) {
  .list {
    right: -200vw;
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.4s;
    background: rgba(0, 0, 0, 0.9);
    z-index: 777;
  }

  .list li:nth-child(4) {
    display: none;
  }

  .list.act {
    right: 0;
  }

  .menuHamburguer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
  }

  .menuHamburguer.act .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .menuHamburguer.act .line2 {
    opacity: 0;
  }

  .menuHamburguer.act .line3 {
    transform: rotate(45deg) translate(-9px, -9px);
  }

  .menuHamburguer span {
    transition: 0.3s;
    height: 3px;
    border-radius: 7px;
    background: #fff;
    width: 100%;
  }

  nav {
    height: 80px;
  }

  header {
    height: 60vh;
  }

  .logo {
    width: 330px;
    height: 230px;
    left: calc(50% - 165px);
    top: 5vh;
  }

  .swiper-slide .text-content {
    margin: 50px;
    top: 10%;
  }

  .registerSection {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-height: 450px) {
  header {
    height: 90vh;
  }
}